body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:737px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:11px;
  top:71px;
  width:731px;
  height:125px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u2 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
}
#u3 {
  position:absolute;
  left:90px;
  top:0px;
  width:126px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:40px;
}
#u5 {
  position:absolute;
  left:216px;
  top:0px;
  width:137px;
  height:40px;
}
#u6 {
  position:absolute;
  left:2px;
  top:12px;
  width:133px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u7 {
  position:absolute;
  left:353px;
  top:0px;
  width:145px;
  height:40px;
}
#u8 {
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:40px;
}
#u9 {
  position:absolute;
  left:498px;
  top:0px;
  width:228px;
  height:40px;
}
#u10 {
  position:absolute;
  left:2px;
  top:12px;
  width:224px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u11 {
  position:absolute;
  left:0px;
  top:40px;
  width:90px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
}
#u13 {
  position:absolute;
  left:90px;
  top:40px;
  width:126px;
  height:40px;
}
#u14 {
  position:absolute;
  left:2px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:40px;
}
#u15 {
  position:absolute;
  left:216px;
  top:40px;
  width:137px;
  height:40px;
}
#u16 {
  position:absolute;
  left:2px;
  top:12px;
  width:133px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u17 {
  position:absolute;
  left:353px;
  top:40px;
  width:145px;
  height:40px;
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:40px;
}
#u19 {
  position:absolute;
  left:498px;
  top:40px;
  width:228px;
  height:40px;
}
#u20 {
  position:absolute;
  left:2px;
  top:12px;
  width:224px;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u21 {
  position:absolute;
  left:0px;
  top:80px;
  width:90px;
  height:40px;
}
#u22 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
}
#u23 {
  position:absolute;
  left:90px;
  top:80px;
  width:126px;
  height:40px;
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:122px;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:40px;
}
#u25 {
  position:absolute;
  left:216px;
  top:80px;
  width:137px;
  height:40px;
}
#u26 {
  position:absolute;
  left:2px;
  top:12px;
  width:133px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u27 {
  position:absolute;
  left:353px;
  top:80px;
  width:145px;
  height:40px;
}
#u28 {
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:40px;
}
#u29 {
  position:absolute;
  left:498px;
  top:80px;
  width:228px;
  height:40px;
}
#u30 {
  position:absolute;
  left:2px;
  top:12px;
  width:224px;
  word-wrap:break-word;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31 {
  position:absolute;
  left:11px;
  top:21px;
  width:140px;
  height:40px;
}
#u32 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:11px;
  top:21px;
  width:140px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
